@import './../../styles/mixins.scss';

.responsive-sidebar-container {
  display: none;
  position: absolute;
  z-index: 1001; //navbar is 1000
  background-color: var(--white);
  overflow: hidden;
  margin-top: -20px;
  width: 100%;

  .responsive-sidebar-header {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: space-between;

    .responsive-sidebar-title {
      font-size: 15px;
      line-height: 1em;
      text-transform: capitalize;
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;

      img {
        display: inline-block;
        margin-left: 10px;
      }
    }
  }

  .responsive-sidebar-items-closed {
    height: 0;
    // transition: height 100ms ease-out;
  }

  .responsive-sidebar-items {
    box-sizing: border-box;
    position: fixed;
    background: #ffffff;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding: 20px;
    overflow-y: scroll;

    .icon-close {
      position: absolute;
      right: 20px;
      top: 20px;
      z-index: 1;
    }  

    .sidebar-home-link {
      @include sidebarItem();
      color: black;
      padding: 5px 5px 5px 10px;
      font-weight: bold;

      &:hover {
        padding-left: 10px;
      }
    }
  }
}

.responsive-sidebar-searchbox {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  .search-wrapper {
    min-width: 80%;
    max-width: 80%;
    .search-bar-container {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .responsive-sidebar-container {
    display: block;
  }
}
