.search-bar-container {
    position: relative;
    z-index: 1;
    width: 420px;
    input {
      border-radius: 20px;
      padding: 7px 7px 7px 40px;
      width: 100%;
      border: 0;
      z-index: 2;
      margin-top: 20px;
      min-height: 40px;
      border: 1px solid rgba(115, 110, 125, 0.24);
      font-size: 17px;
    }

    .search-bar-cancel {
      position: absolute;
      right:0;
      top: -3px;
      cursor: pointer;
    }
  }

  @media (max-width: 768px) {
    .search-bar-container {
      width: 100%;
    }
  }