.search-bar-container {
    position: relative;
  
    input {
      border-radius: 20px;
      padding: 7px 7px 7px 40px;
      width: 100%;
      border: 0;
      z-index: 2;
      margin-top: 20px;
      min-height: 40px;
      border: 1px solid var(--gray)
    }
  }