.section-card {
  border-radius: 8px;
  padding: 20px;
  text-align: left;
  transition: all 0.5s ease-in-out;
  margin-right: 20px;
  box-sizing: border-box;
  height: 310px;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 24%);

}

.section-card:hover {
  margin-top: -20px;
  transition: all 0.5s ease-in;
  box-shadow: 0 10px 20px 0 rgb(0 0 0 / 24%);
  filter: brightness(1.2);

  .section-card-cta {
    span {
      font-weight: bold;
    }
  }
}

.section-card-info {
  width: 100%;
  color: #ffffff;
}

.section-card-info h3,
.section-card-info p {
  color: #ffffff;
}

.section-card-img {
  width: 180px;
}

@media (max-width: 768px) {
  .section-card {
    width: 100%;
    margin: 20px 0;
    height: auto;
  }

  .section-card-img {
    display: block;
    margin: auto;
  }
}