@import "@styles/variables.scss";

.blog-post-container {
    // box-sizing: border-box;
    width: 70%;
    padding: 30px;
    min-height: 100vh;
}

.code-container {
    border: 1px solid var(--gray);
    border-radius: 8px;
}

.sequence {
    font-family: var(--font-family) !important;
}