@import "@styles/variables.scss";

.flex {
    display: flex;
}

.container-full-height {
    min-height: calc(100vh - var(--navbar-height) - var(--footer-height));

    a {
        color: #000;
    }

    .tabs-header {
     position: relative;
        .search-bar-container {
            position: absolute;
            right: 0;
            top: -10px;

            @media (max-width: 768px) {
                display: none;
            }
        }
    }
}
.active {
    .tabs-navigation {
        position: relative;
        border-bottom: 3px solid #ffffff;
        padding: 19px 0;
        z-index: 1;

        @media (max-width: 768px) {
            border-bottom: 0;
            padding: 0 0 0 22px;
            border-left: 2px solid #ffffff;
        }
    }

    @media (max-width: 768px) {
        border-left: 2px solid yellow;
    }

    .active-bar {
        //needed to override dcl tabs color
        display: none;
    }
}

.sidebar-search {
    position: absolute;
    right: 0;
    top: 0;
}

.docs-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px 0;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(115, 110, 125, 0.24);

    h2 {
        margin: 0;
        padding: 0;
        font-size: 28px;
        font-weight: normal;
        text-transform: capitalize;
    }

    img {
        width: 40px;
        padding-right: 12px;
    }

}

.navbar-border {
    border-bottom: 1px solid var(--divider) !important;
}

.section-no-margin {
    margin: 0 !important;;
}

.footer {
    width: 100%;
    border-top: 1px solid var(--divider);
}

@media (max-width: 768px) {
    .dcl.tabs .dcl.tab {
        margin-right: 22px !important;
        padding: 0;
    }

    .dcl.tab.active {
        border: none !important;
    }

}