.hit-result {
  background-color: #F3F2F5;
  border-radius: 10px;
  margin: 0 0 12px;
  padding: 20px;
  display: flex;
  height: 120px;
  box-sizing: border-box;

  .hit-result-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
    margin-right: 20px;

    img {
      display: block;
      width: 30px;
      height: 30px;
      margin-right: 16px;
    }
  }
}

.hit-result-title {
  font-size: 21px;
  margin-bottom: 10px;
  font-weight: bold;
}