@mixin sidebarItem() {
    padding: 5px;
    display: inline-block;
    width: 100%;
    &:hover {
        padding: 5px;
        background-color: lighten(#ddd, 5);
        border-radius: 5px;
        transition: all 200ms ease;
      }
}

@mixin generalHoverColor() {
    transition: all 200ms ease;
    &:hover {
        filter: brightness(0.9);
        transition: all 200ms ease;
      }
}