@mixin sidebarItem() {
    padding: 5px;
    display: inline-block;
    width: 100%;
}

@mixin generalHoverColor() {
    transition: all 200ms ease;
    &:hover {
        filter: brightness(0.9);
        transition: all 200ms ease;
      }
}