
:root {
// colors - fonts
--gray: #736E7D;
--black: #16141A;
--white: #ffffff;
--light-gray: #F2F2F5;
// colors - sections
--user: #FF2D55;
--creator: #4947CD; 
--contributor: #EE834A;
--divider: #67637033;
}