.flex {
    display: flex;
}

.general-layout {
    height: calc(100% - var(----navbar-height) - var(--footer-height) - var(--footer-margin-top));
    display: flex;
}

.dcl.page.general-layout {
    .ui {
        align-self: center;
    }
}