@import "@styles/variables.scss";

.welcome-subheader {
  font-size: 21px;
  color: $gray;
  margin-bottom: 20px;
}

.section-cards-container {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  background-color: var(--danger);
}

.tag-wrapper {
  display: flex;
}
