.welcome-subheader {
  font-size: 21px;
  color: var(--gray);
  margin-bottom: 20px;
}

.welcome-description {
  margin: 20px 0;
}

.section-cards-container {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  height: 350px;
}

.tag-wrapper {
  display: flex;
}

.welcome-searchbar {
  width: 60%;
}

@media (max-width: 768px) {

  .welcome-subheader {
    margin-bottom: 0;
  }
  
  .section-cards-container {
    width: 100%;
    padding-top: 0;
    display: block;
    height: auto;
  }

  .welcome-searchbar {
    width: 100%;
  }
}