.welcome-subheader {
  font-size: 21px;
  color: var(--gray);
  margin-bottom: 20px;
}

.section-cards-container {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  height: 350px;
}

.tag-wrapper {
  display: flex;
}

.welcome-searchbar {
  width: 60%;
}
