.root-container {
    align-items: center;
    padding: 5px 0;

    .root-title {
        font-weight: bold;
    }
}

.icon {
    margin-right: 10px;
}

.child-container {
    padding:
    0;
    max-height: 1000px;
    transition: max-height 0.4s ease-in-out;
}

.child-container-collapsed {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
}