@import "./../../styles/mixins.scss";

.sidebar-container {
  min-width: 360px;
  max-width: 360px;
  border-right: 1px solid var(--divider);
  min-height: 100%;
  box-sizing: border-box;

  .sidebar-header {
    position: relative;
    height: 180px;
    padding: 20px;
    box-sizing: border-box;

    h2 {
      color: var(--white);
      margin: 0;
      position: relative;
      z-index: 1;
      font-size: 28px;
      line-height: 34px;
      text-transform: capitalize;
      max-width: 60%;
    }
    .sidebar-header-background {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .sidebar-items {
    padding: 20px 25px 0;
    box-sizing: border-box;

    .sidebar-home-link {
      @include sidebarItem();
      color: black;
      padding: 5px 5px 5px 10px;
      font-weight: bold;

        &:hover {
          padding-left: 10px;
          }
    }
  }
}
