// override Algolia Searchbox custom buttons

button.ais-SearchBox-submit {
  border: 0;
  position: absolute;
  left: 8px;
  top: 27px;
  background: transparent;
}

button.ais-SearchBox-reset {
  display: none;
}

.ais-Hits {
  margin-top: 5px;
  background-color: white;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px 16px 32px 16px rgba(0,0,0,0.16);
  overflow: hidden;
  position: relative;
  z-index: 2;
  
  ul {
    margin: 0;
    padding: 0;
  }
}

.ais-Hits-item {
  list-style-type: none;
  padding: 10px;

  &:hover {
    background-color: var(--light-gray);
  }
}

.no-hits {
  @extend .ais-Hits;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  color: var(--gray);
  font-style: italic;
}

.ais-Snippet {
  color: var(--gray) !important;
  &::before, &::after {
    content: "...";
  }
}

.ais-Snippet-highlighted {
  color: black;
  font-weight: bold;
}

.search-bar-more {
  background-color: white;
  position: relative;
  z-index: 2;
  border-radius: 0 0 10px 10px;
  font-weight: bold;
  text-align: center;
  color: var(--primary);
  border-top: 1px solid var(--light-gray);
  padding: 15px 0;
  display: flex;

  a {
    display: inline-block;
    width: 100%;
  }
}

.hit-results-grayarea {
  background-color: black;
  opacity: 0.2;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}