.code-container {
    --gray-code: rgba(92,92,110,.16);
    border: 1px solid var(--gray-code);
    border-radius: 8px;

    .code-container-actions {
        height: 44px;
        background-color: #f2f2f5;
        color: var(--primary);
        padding: 10px 10px;
        border-top: 1px solid var(--gray-code);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;
    }
}