.code-container {
    --gray-code: rgba(92,92,110,.16);
    border: 1px solid var(--gray-code);
    border-radius: 8px;

    .code-container-actions {
        height: 44px;
        background-color: #f2f2f5;
        color: var(--primary);
        padding: 10px 10px;
        border-top: 1px solid var(--gray-code);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;
        font-family: var(--font-family);

        .code-action-copy {
          animation: show 200ms 1 reverse ease;
        }

        .code-action-animate {
          animation: show 300ms 1 reverse ease-in-out;
        }

        @keyframes show {
          to {opacity: 0;}
          from {opacity: 1;}
        }

        svg {
          margin: 2px 5px 0;
        }
    }
}