name: Set delivery rollout

on: [deployment_status]

jobs:
  set-rollout-zone:
    if: ${{ github.event.deployment.task == 'upload-to-cdn' && github.event.deployment_status.state == 'success' }}
    runs-on: ubuntu-18.04
    steps:
      - uses: hmarr/debug-action@v2
      - name: set-rollout
        uses: decentraland/set-rollout-action@main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          # Repo deployment info
          ref: ${{ github.event.deployment.ref }}
          sha: ${{ github.event.deployment.sha }}

          # CDN information
          packageName: ${{ github.event.deployment.payload.packageName }}
          packageVersion: ${{ github.event.deployment.payload.packageVersion }}

          # Rollout information
          deploymentDomain: "beta-docs.decentraland.zone"
          deploymentName: "_site"
          percentage: 100