@import "@styles/mixins.scss";

.section-card {
    border-radius: 8px;
    padding: 20px;
    height: 270px;
    flex: 1;
    text-align: left;
    transition: all 0.5s ease-in-out;
    margin-right: 20px;

    .card-img {
        height: 50%;

        img {
            margin: 0
        }
    }

    p {
        color: #ffffff;
        padding-bottom: 30px;
    }

    .section-card-cta {
        color:#ffffff;
        display: flex;
        align-items: center;

        span {
            margin-right: 10px;
        }
    }
}

.section-card:hover {
    margin-top: -20px;
    @include generalHoverColor();
}

.section-card-info {
    width: 100%;
    color: #ffffff;
    flex: 1;

    h3, p {
        color: #ffffff;
    }
}